@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
#slider-mobile {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#list-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#list-images img {
  width: 80px;
  height: 120px;
  margin: 24px 0px;
}
#list-images > img {
  margin-top: 0;
}
#carrusel-images {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.product-image {
  width: 616px;
  height: 924px;
  margin: 24px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#carrusel-images > img {
  margin: 0 20px 0 20px;
  height: 500px;
}
#detalle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 60px;
  width: 424px;
  height: 752px;
}
#price {
  font-size: 30px;
  margin-bottom: 40px;
}
#name-container {
  width: 424px;
  height: 56px;
  margin-bottom: 40px;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
}
#size-list {
  display: flex;
  font-size: 20px;
  margin-bottom: 40px;
  padding-left: 0;
}
#size-list li {
  list-style: none;
  margin: 0px 32px;
  margin-left: 0;
  padding: 5px;
}
.size-active {
  border: solid 2px #1d1d1d;
}
#butons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 40px;
}
#butons button {
  align-items: center;
  padding: 13px 10px;
  width: 424px;
  height: 56px;
  border-radius: 4px;
  border: none;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 8px 0px;
  font-size: 22px;
}
#addCard {
  background: #1d1d1d;
}
#buy {
  background: #4276fb;
}
#description p {
  margin-bottom: 40px;
}
#description a {
  color: #1d1d1d;
}
/* @media (max-width: 460px) {
    main{
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-content: center;
        align-items: center;
        
    }
    #carrusel-images{
        display: none;
    }
    #list-images{
        display: none;
        width: 90%;
    }
    #slider-mobile{
        display: block;
        width: 360px;
        height: 540px;
        background-image: url(https://i.ibb.co/6XSDPyb/crown1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-self: center;
    }
    #detalle-container{
        width: 90%;
        margin: 0 auto;
    }
    #name-container{
        width: 100%;
        height: 112px;
        margin-bottom: 16px;
        text-align: center;
    }
    h2{
      font-weight: 700;  
    }
    #price{
        align-self: center;
        font-size: 30px;
    }
    #butons{
        width: 100%;
        
    }
    #butons button{
        width: 100%;
    }
} */
