* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.other-models-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
main section h2 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}
header {
  display: none;
}
nav {
  display: flex;
  width: 95%;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  margin: 0 auto;
}
nav .icono img {
  width: 100px;
}
.perfil-carrito {
  width: 8%;
  display: flex;
  justify-content: space-between;
}
.perfil-carrito a img {
  width: 20px;
}
header .ul-container {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  width: auto;
}
header .ul-container a {
  text-decoration: none;
}
header .ul-container a li {
  display: flex;
  color: black;
  align-items: center;
  list-style: none;
  margin-left: 10px;
}
.perfil-carrito {
  width: auto;
  margin-left: 10px;
}
.perfil-carrito a:nth-child(1) {
  margin-right: 10px;
}
/* menu desolegable arriba */
.dropbtn {
  margin: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: rgba(66, 118, 251, 1);
  font-weight: bold;
  padding: 16px;
  width: 200px;
  font-size: 1.2rem;
  border: none;
}
.dropbtn p {
  font-size: 2rem;
  margin: 0 0 0 10px;
}
.dropbtn span img {
  width: 30px;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Links inside the dropup */
.dropup-content a {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  color: rgba(66, 118, 251, 1);
  background-color: black;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #2980b9;
}
@media (min-width: 700px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .dropup {
    display: none;
  }
}
