.scrolling-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  height: 450px;
  margin-bottom: 200px;
  border: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}
.card img {
  width: 90%;
}
.card h2 {
  padding: 10px 0 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.card p {
  margin: 0;
  font-weight: bold;
  text-align: center;
}
.btn-primary {
  width: 200px;
}
